---
layout: default
---

{% assign cv_pdf = page.cv_pdf | prepend: "assets/pdf/" | relative_url %}

<!-- _layouts/cv.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}<a href="{{ cv_pdf }}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a></h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <article>
    <p>
      You can download my CV <a href="{{ cv_pdf }}" target="_blank" rel="noopener noreferrer">here</a>.
    </p>
    <object data="{{ cv_pdf }}" type="application/pdf" class="cv-pdf"></object>
  </article>
</div>
